@model IEnumerable<C__Cumulative_Part_1.Models.Teacher>

<h1>Teacher Directory</h1>

<p>There are @Model.Count() teachers in the database.</p>

@foreach (var teacher in Model)
{
    <div>
        <a href="/TeacherPage/Show/@teacher.TeacherId">
            @teacher.TeacherFirstName @teacher.TeacherLastName
        </a>
    </div>
}

